%h1 Listing sub_stuffs

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @sub_stuffs.each do |sub_stuff|
    %tr
      %td= sub_stuff.name
      %td= link_to 'Show', sub_stuff
      %td= link_to 'Edit', edit_sub_stuff_path(sub_stuff)
      %td= link_to 'Destroy', sub_stuff, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sub stuff', new_sub_stuff_path
